body{
    font-family: 'Fantasy'; font-size: 16px;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,p{color: #000; padding-bottom: 30px;}

.big-text{
    font-size: 50px; font-weight: 900;
}
.med-text{
    font-size: 40px;
}
.normal-text{
    font-size: 20px;
}
.small-text{
    font-size: 14px;
}

.intro-text{text-transform: uppercase;font-size: 20px;font-weight: bold;}

.button{padding: 18px 28px; background-color: #316bff; color:#fff; display: inline-block; border-radius: 4px;}

@media (max-width: 768px){
    .big-text{font-size: 40px;}
}

/*Header*/
.header{
    width: 100%;
    position: fixed;
    top:0;
    left:50%;
    transform: translateX(-50%);
    padding: 30px;
    display: flex;
    max-width: 1350px;
}

.logo{

}

.menu{
    width: 100%;
}

.menu li{
    display: inline-block;
}
.menu li a{
    color: #fff;padding:15px;display: block;
}

.hamburger{display: none;}

@media (max-width: 768px){
    .cta{display: none;}

    .menu{
        position: absolute;
        top: 0;
        right: -100%;
        background: #000;
        height: 100vh;
        padding-top: 80px;
    }

    .menu li{display: block;}

    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40px;
        right: 30px;
    }

    .hamburger span{
        background: #fff;
        height: 3px;
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
}

/*Hero*/

.hero{
    height: 600px;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,0.9)), url('ufficio.jpeg') no-repeat center center;
    background-size: cover;
}

.hero__content{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
}

.hero__content h1,
.hero__content p{color: #fff}

#bg-video
{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}


/* POSTER */

.poster
{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.poster__img
{
    width: 65%;
    height: 100%;
}
.poster__img img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.poster__content
{
    width: 35%;
    padding: 50px;
}


@media (max-width: 768px)
{
    .poster
    {
        flex-wrap: wrap;
        height: auto;
    }
    .poster__img, .poster__content
    {
        width: 100%;
    }
}




/* BGCOVER */

.bgcover
{
    display: flex;
    padding: 100px 0;
    background: linear-gradient(180deg, rgba(0,0,0,.7), rgba(0,0,0,0.7)),
    url('bg-foto.jpg') center center;
    background-size: cover;
}

.bgcover__text
{
    width: 65%;
    padding: 30px;
}

.bgcover__title
{
    width: 35%;
    padding: 50px;
    display: flex;
    align-items: center;
}


@media (max-width: 768px)
{
    .bgcover
    {
        flex-wrap: wrap;
        height: auto;
    }

    .bgcover__text 
    {
        width: 100%;
    }

    .bgcover__title
    {
        width: 100%;
    }
}




/* GRID */

.grid
{
    display: flex;
    max-width: 1350px;
    padding: 0 30px;
    margin: 0 auto;
}

.grid 
{
    width: 100%;
}

.col
{
    width: 100%;
}


@media (max-width: 768px)
{
    .grid
    {
        flex-wrap: wrap;
    }
}




/* CAROUSEL */

.main-carousel
{
    padding: 40px 0;
}

.carousel-cell
{
    height: 350px;
    width: 350px;
    background: red;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
}




/* PANEL */

.panel
{
    background: #414141;
    padding: 100px 30px;
}

.panel__text
{
    display: flex;
    align-items: center;
}

.dot
{
    height: 250px;
    width: 250px;
    background: red;
    border-radius: 100%;
    line-height: 250px;
    text-align: center;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 40px;
}




/* FOOTER */

.footer
{
    background: #fff;
    padding: 100px 0;
}





/* HELPERS */

.mt1
{
    margin-top: 50px;
}
.mt2
{
    margin-top: 100px;
}
.mt3
{
    margin-top: 150px;
}

.tw
{
    color: #fff;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}  
